# .gitignore
.venv/
venv/
venvStyleTransfer/
#data/content/processed/*
#data/content/raw/*
#data/style/processed/*
#data/style/raw/*
# local config
config/config.yaml
out/grid_search/*
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store